 .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }
   
 body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background: url("images/pattern-bg-desktop.png") no-repeat center/cover;
  height: 280px;
  text-align: center;
  padding-top: 30px;
}

.header h1 {
  color: white;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
}

.search-box input {
  width: 400px;
  padding: 15px;
  border-radius: 12px 0 0 12px;
  border: none;
  outline: none;
}

.search-box button {
  background: rgb(0, 0, 0);
  border: none;
  padding: 15px 20px;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-box button:hover {
  background: hsl(0, 0%, 17%); /* dark gray */
}


.info {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  display: flex;
  gap: 40px;
  padding: 30px;
  border-radius: 15px;
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.leaflet-top,
.leaflet-bottom {
  z-index: 500;
}

#map {
  height: 500px;
}

@media (max-width: 768px) {
  .header {
    background: url("images/pattern-bg-mobile.png") no-repeat center/cover;
    height: 300px;
  }
   .search-box {
    padding: 0 20px;
  }

  .search-box input {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .info {
    position: absolute;
    top: 180px;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    width: calc(100% - 32px);
    text-align: center;
  }

  .info h2 {
    font-size: 15px;
  }

  .info p {
    font-size: 10px;
  }
   #map {
    margin-top: 140px;
    height: calc(100vh - 350px);
  }
}

